/* app/globals.css */

@import "tailwindcss";

:root {
  --brand-purple: #7230ff;
  --brand-blue: #22344d;
  --brand-off-white: #fafafa;
  --brand-dark-gray: #1e1e1e;

  --accent-orange: #ff8b36;
  --accent-yellow: #ffde13;
  --accent-pink: #ff64de;

  --background: var(--brand-off-white);
  --foreground: var(--brand-dark-gray);
}

@theme inline {
  --color-brand-purple: var(--brand-purple);
  --color-brand-blue: var(--brand-blue);
  --color-brand-off-white: var(--brand-off-white);
  --color-brand-dark-gray: var(--brand-dark-gray);

  --color-accent-orange: var(--accent-orange);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-pink: var(--accent-pink);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-heading: var(--font-telegraf);
  --font-mono: monospace;

  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-body-lg: 20px;
  --font-size-body-md: 18px;
  --font-size-body-sm: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}